.generator-box-button {
  .btn-container {
    button {
      width: 100%;
      background-color: var(--black);
      color: var(--white);
      padding: 18px 0;
      border: none;
      border-radius: 12px;
    }
  }
}
