body {
  background-color: hsl(220, 9%, 93%);
  box-sizing: border-box;
}
p {
  color: var(--grey-dark);
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .generator-box {
    background-color: var(--white);
    padding: 32px 16px 20px 16px;
    border-radius: 12px;
    .generator-box-title {
      margin-bottom: 16px;
      h2 {
        font-size: 24px;
        color: var(--black);
        margin: 0;
      }
    }
  }
}
