:root {
  --blue: #0027ff;
  --white: #fff;
  --grey-dark: #808080;
  --grey-stroke: #cecece;
  --grey: #f7f7f7;
  --black: #22232e;
  --red: #ff3a3a;
  --yellow: #ffc225;
  --green: #30bf19;
}

body {
  background-color: var(--grey);
  box-sizing: border-box;
}
p {
  color: var(--grey-dark);
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .generator-box {
    background-color: var(--white);
    padding: 32px 16px 20px 16px;
    .generator-box-title {
      margin-bottom: 16px;
      h2 {
        font-size: 24px;
        color: var(--black);
        margin: 0;
      }
    }
  }
  .generator-box-options {
    .characters {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        font-size: 16px;
        color: var(--black);
      }
      h3 {
        font-size: 24px;
        color: var(--black);
      }
    }
    .bar {
      width: 100%;
      height: 4px;
      background-color: #e2e2e2;
      border-radius: 12px;
      position: relative;
      .bar-lengh {
        position: absolute;
        background-color: var(--blue);
        height: 100%;
        width: 40%;
        border-radius: 12px;
      }
      .bar-circle {
        position: absolute;
        background-color: var(--white);
        border-radius: 200px;
        padding: 5px;
        left: 40%;
        .bar-circle-inside {
          background-color: var(--blue);
          width: 10px;
          height: 10px;
          border-radius: 200px;
        }
      }
    }
  }
  .generator-box-options-checkbox {
    .input-container_checkbox {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      input {
        width: 18px;
        height: 18px;
        border: 1px solid var(--grey-stroke);
        border-radius: 6px;
        padding: 0;
        margin-right: 12px;
      }
      label {
        color: var(--grey-dark);
      }
    }
  }
}
