.generator-box-copyboard {
  .input-container {
    input {
      border: 1px solid #cecece;
      border-radius: 12px;
      font-size: 16px;
      // padding: 17px 20px;
      padding: 0;
      width: 100%;
    }
  }
}
